<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Batman</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Imagen de fondo dinamica</title>
    <SCRIPT type="text/javascript">
    	$.backstretch("http://media.dcentertainment.com/sites/default/files/GalleryComics_1920x1080_20160427_BM_Cv51_56f33d0526d1a5.59154201.jpg");
	</SCRIPT>
</head>
<body id="demo">
		<h1>I am Batman</h1>
</body>
</html>