<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Batman</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Imagen de fondo dinamica</title>
</head>
<body id="idSuperman">
		<h1>This looks like a job for Superman</h1>
</body>
</html>