<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Batman</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Imagen de fondo dinamica</title>
    <SCRIPT type="text/javascript">
    	$.backstretch("http://static.batanga.com/sites/default/files/styles/full/public/comics.batanga.com/files/Como-funcionan-los-poderes-de-Superman.jpg?itok=D8cuqqot");
	</SCRIPT>
</head>
<body id="idSuperman">
		<h1>This looks like a job for Superman</h1>
</body>
</html>